*{
    padding: 0;
    margin: 0;
}
.clear::after{
    content: "";
    clear: both;
    display:block;
}
.md-content{
    width: 1000px;
    margin: auto;
}
ul{
    padding: 0;margin: 0;
}
li{
    padding: 0;margin: 0;
}
.text-center{
    text-align: center;
}
/* must css end */
header{
   padding: 20px 0px;
   background-color: #5d423370;
    
}
.header-logo{
    width: 30%;
    float: left;
}
.header-logo img{
    width: 130px;
}
.header-menu{
    width: 70%;
    float: right;
}
.header-menu ul{
    list-style: none;
    text-align: right;
    position: relative;
}
.header-menu ul li{
    display: inline-block;
    position: relative;
}
.header-menu ul li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 0px 20px;
    text-transform: uppercase;
    transition: .5s;
    position: relative;
}
.header-menu ul li:first-child a{
   color: #ae5700;
}
/* sub menu section */
.header-menu ul li ul.sub-menu{
    position: absolute;
    left: 0%;
    top: 182%;
    width: 200px;
    background-color: rgba(108, 103, 103, 0.603);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.header-menu ul li ul.sub-menu li{
    display: block;
    transition: .8s;
}
.header-menu ul li ul.sub-menu li a{
    padding: 15px 0px;
}
/* hover section */
.header-menu ul li:hover ul.sub-menu{
    visibility: visible;
    opacity: 1;
}
.header-menu ul li a:hover{
    color:#ae5700 ;
}
.header-menu ul li ul.sub-menu li:hover{
    background-color: rgba(177, 171, 171, 0.838);
}
/* after section */
.header-menu ul li::after{
    content: "";
	width: 100%;
	height: 2PX;
	background-color: rgb(249, 242, 242);
	position: absolute;
	top: 34PX;
	left: 0px;
    transform: scale(0);
    transition: all linear .8s;
    
}
.header-menu ul li:hover::after{
    transform: scale(1);
    transform-origin: center;
}
.header-menu ul li ul.sub-menu li::after{
    content: "";
    width: 0%;
    height: 0PX;

}

/* slider section */
section{
    background: url(./allimage/ia_200000019.jpg), rgba(1, 0, 0, 0.628);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center ;
    background-blend-mode: multiply;
    /* height: 358px; */
    /* padding: 170px 0px 140px 151px; */
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 600px;
}
.banner{
    width: 500px;
    padding: 26px 0px 0px 110px;
    margin: 139px 0px 0px 265px;
}
.banner h1{
    font-size: 65px;
}
.banner h2{
    font-size:30px;
    text-transform: uppercase;
    padding: 20px 0px;
    position: relative;
    
}
.banner h2::before{
    content: "";
    width: 70px;
    height: 2px;
    background-color:#fff;
    position: absolute;
    left: -13px;
    top: 35px;  
}
.banner h2::after{
    content: "";
    width: 70px;
    height: 2px;
    background-color:#fff;
    position: absolute;
    right: -13px;
    top: 35px;  
}
.banner .banner-btn{
    text-decoration: none;
    display: inline-block;
    padding: 15px 35px;
    background-color: #ae5700;
    border-radius: 30px;
    color: #fff;
    transition: .8s;
}
.banner .banner-btn:hover{
    background-color: #fff;
    color: black;
   
}
/* service section */
.service-section{
    background-color: #f8f8f8;
    padding: 60px 0px;

}
.services{
    clear: both;
    display: block;
}
.service1{
    float: left;
    width: 20%;
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 2px 2px 15px 10px rgba(90, 88, 88, 0.231);
    margin-left: 3%;
    transition: all linear .8s;
}
.service-img img{
    transform: rotateY(0deg);
    transition: all linear .8s;
    background-color: #fff;
    border-radius: 50%;
}
/* hover section */
.service1:hover{
    background-color: rgb(171, 171, 165);
}
.service1:hover .service-img img{
    transform: rotateY(360deg);
}
.service1:hover .service-btn{
    background-color: rgb(255, 254, 254);
    color: black;
}

.service1 h2{
    padding: 10px 0px;
    font-size: 20px;
  }

.service1 p{
    padding: 10px 0px 30px 0px;
      color: #a49d97;
}
.service1 .service-btn{
     text-decoration: none;
     display: inline-block;
     padding: 10px 15px;
     background-color: #ae5700c8;
     color: rgba(255, 255, 255, 0.381);
     border-radius: 10px;
     transition: all linear .8s;
     transform: translate(0px, 0px);
}
.service1 .service-btn:hover{
    transform: translate(0px,10px);
    background-color: black;
    color: #fff;
}
/* contact section */
.contact-section{
    background-color: #f8f8f8;
    padding: 140px 0px 40px 0px;
}
.contact-left {
    width: 50%;
    float: left;
}
.contact-right{
    width: 50%;
    float: right;
    margin-left: ;
}
.contact-right h1 span{
    color: #ae5700;
}
.contact-right h1{
    font-size: 40px;
    text-transform: capitalize;
    padding: 0px 0px 15px 0px;
}
.contact-right p{
    line-height: 25px;
    color: #636d75;
    padding: 10px 0px;
}
.read{
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    padding: 10px 20px;
    background-color: black;
    transition: .8s;
}
.read:hover{
    background-color: #ae5700;
}
.forms{
  background-color: #f8f8f8;
  padding: 60px 0px 0px 30px;
}
.form-left{
    float: left;
    width: 40%;
    margin-left: 30px;
}
.form-left h1{
    text-transform: capitalize;
    padding: 15px 0px;
}
.form-left p{
    padding: 15px 0px;
}
form{
    padding: 15px 0px;
    text-transform: capitalize;
}
.text input{
    width: 332px;
    padding: 10px 10px;
    margin: 10px 0px;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
.email input{
    width: 332px;
    padding: 10px 10px;
    margin: 10px 0px;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
.phone input{
    width: 332px;
    padding: 10px 10px;
    margin: 10px 0px;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
.submit input{
   padding: 15px 25px;
   background-color: #ae5700dc;
   margin: 10px 0px;
   transition: .8s;
   box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
.submit input:hover{
    background-color: #fff;
}
textarea{
    width: 350px;
    height: 100px;
    margin: 10px 0px;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
}

.form-right{
    width: 50%;
    float: right;
}
.form-right img{
    width:400px;
    height: 500px;
    margin: 0px 0px 0px -110px;

}
footer{
    background-color: #808080;
   padding: 30px 0px 30px 0px;
}
.footer-left{
    width: 50%;
    float: left;
    
}
.footer-left p{
    text-transform: capitalize;
}
.footer-right{
    width: 50%;
    float: right;
    text-align: right;
}
.footer-right ul{
    list-style-type:none;

}
.footer-right ul li{
    display: inline-block;
}
.footer-right ul li a{
    padding: 0px 20px;
    color: #fff;
}
